@charset "utf-8";

.logo {
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

#user-name {
    min-height: 16px;
    margin-top: 258px;
    text-align: center;
}

.button-container {
    margin: 10px;
}

#_ssn_0_0 {
    width: 60px !important;
}

#_ssn_0_1 {
    width: 40px !important;
}

#_ssn_0_2 {
    width: 80px !important;
}

#_ssn_0_3 {
    width: 40px !important;
}

#_ssn_0_4 {
    width: 140px !important;
}

div#jqt #about {
    padding: 60px 10px 0 10px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
    font-size: 13px;
    text-align: center;;
}

div#jqt #about p {
    margin-bottom: 8px;
}

div#jqt #about a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}