@charset "utf-8";

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0) !important;
}

.logo {
    margin: 60px auto;
    text-align: center;
    width: 300px;
}

h1.page-title {
	text-align: center;
}

#user-name {
    min-height: 16px;
    margin-top: 258px;
    text-align: center;
}

.button-container {
    margin: 10px;
}

#_ssn_0_0 {
	text-align: center !important;
    width: 35px !important;
}

#_ssn_0_1 {
	text-align: center !important;
    width: 25px !important;
}

#_ssn_0_2 {
	text-align: center !important;
    width: 45px !important;
}

#_ssn_0_3 {
	text-align: center !important;
    width: 25px !important;
}

#_ssn_0_4 {
	text-align: center !important;
    width: 75px !important;
}

div#jqt #about {
    padding: 0 10px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
    font-size: 13px;
    text-align: center;;
}

div#jqt #about p {
    margin-bottom: 8px;
}

div#jqt #about a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#jqt #logout {
	background: none;
	border-width: 0 8px 0 14px;
    color: #fff;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
    height: 30px;
	left: 6px;
	line-height: 30px;
    margin: 0;
	max-width: 55px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: auto;
	text-decoration: none;
	text-overflow: ellipsis;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    top: 8px;
    white-space: nowrap;
    width: auto;
    -webkit-border-image: url(themes/apple/img/backButton.png) 0 8 0 14;
}